
**/build/
**/.dart_tool/
**/.pub-cache/
**/.pub/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/doc/api/
**/coverage/

**/android/**/debug/
**/android/**/profile/
**/android/**/release/
**/android/.gradle/
**/android/local.properties
**/ios/Flutter/.last_build_id

.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
.history
*.log

.env
app.*.symbols
app.*.map.json